{% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <section class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3" id="posts-container">
            {% for post in post_list %}
            <article class="row justify-content-center">
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card mb-8 w-100">
                        <div class="card-body">
                            <header class="mt-auto d-flex justify-content-between">
                                <div class="btn btn-warning">
                                    <a href="{% url 'post_detail' post.slug %}" class="author">{{ post.author }}</a>
                                </div>
                                <div class="btn btn-warning author"> {{ post.category }}</div>
                            </header>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.excerpt }}</p>
                            </a>
                            <!-- Like/Unlike Button -->
                            {% include 'blog/_post_interactions.html' %}
                            <hr>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

    <!-- Hidden input for tracking current page number -->
    <input type="hidden" id="page-number" value="1" />

    <!-- Loader Indicator -->
    <div id="loader" style="display: none;">
        <p class="text-center text-white">Loading more posts...</p>
    </div>

    {% block extra_js %}
    <script src="{% static 'js/infinite-scroll.js' %}"></script>
    <script src="{% static 'js/post-like.js' %}"></script>
    <script src="https://kit.fontawesome.com/0da88937d5.js" crossorigin="anonymous"></script>
    {% endblock %}
</div>
