{% for post in post_list %}
<article class="row justify-content-center">
    <div class="col-md-8 d-flex align-items-center">
        <div class="card mb-8 w-100">
            <div class="card-body">
                <header class="mt-auto d-flex justify-content-between">
                    <div>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-warning author">{{ post.author }}</a>
                    </div>
                    <div class="btn btn-warning author">{{ post.category }}</div>
                </header>
                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p>{{ post.excerpt }}</p>
                </a>
                {% include 'blog/_post_interactions.html' %}
                <p>{{ post.posted_at }}</p>
                <hr>
            </div>
        </div>
    </div>
</article>
{% empty %}
<p class="text-center">No posts to display.</p>
{% endfor %}

