<!-- Likes -->
<div>
    {% if user.is_authenticated %}
    <a href="javascript:void(0)" onclick="likePost('{{ post.slug }}')"><i
            class="link btn fa-solid fa-arrow-up yellow"></i></a><span class="card-text"
        id="like-count-{{ post.slug }}">{{ post.likes.count }}</span>
    {% else %}
    <a href="{% url 'account_login' %}"><i
            class="link btn fa-solid fa-arrow-up yellow"></i></a><span class="card-text"
        id="like-count-{{ post.slug }}">{{ post.likes.count }}</span>
    {% endif %}
</div>