{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="https://kit.fontawesome.com/0da88937d5.js" crossorigin="anonymous"></script>
<script src="{% static 'js/post-like.js' %}"></script>

<div class="container-fluid">
    <div class="row">
        <!-- Post -->
        <div class="col-12 mt-3">
            <div class="row justify-content-center">
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card mb-8 w-100">
                        <div class="card">
                            <div class="image-container">
                                <div class="btn btn-warning">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug%}" class="post-link">
                                <h2 class="card">{{ post.title }}</h2>
                                <p class="card">{{ post.content | safe }}</p>
                            </a>
                            <p class="card-text text-muted h6">{{ post.updated_on }} category: {{ post.category}} </p>
                            </p>
                            {% include 'blog/_post_likes.html' %}
                            <hr />
                            <h3 class="light-grey">Comments</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <!-- Comments Section -->
    {% include 'blog/_post_comments.html' %}
</div>
{% endblock content %}    