{% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row justify-content-center">
                {% for post in post_list %}
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card mb-8 w-100">
                        <div class="card">
                            <div class="image-container">
                                <div class="btn btn-warning">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card">{{ post.title }}</h2>
                                <p class="card">{{ post.excerpt }}</p>
                            </a>

                            <!-- Like/Unlike Button -->
                            <div>
                                {% if user.is_authenticated %}
                                <a href="javascript:void(0)" onclick="likePost('{{ post.slug }}')"><i
                                        class="btn fa-solid fa-arrow-up yellow"></i></a>
                                <span class="card-text" id="like-count-{{ post.slug }}">{{ post.likes.count }}</span>
                                {% else %}
                                <a href="{% url 'account_login' %}">
                                    <i class="btn fa-solid fa-arrow-up yellow"></i>
                                </a>
                                <span class="card-text">{{ post.likes.count }}</span>
                                {% endif %}
                            </div>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="loader" style="display: none;">
                    <p class="text-white">Loading more posts...</p>
                </div>
            </div>
        </div>
    </div>

    {% block extra_js %}
    <script src="{% static 'js/infinite-scroll.js' %}"></script>
    <script src="{% static 'js/post-like.js' %}"></script>
    <script src="https://kit.fontawesome.com/0da88937d5.js" crossorigin="anonymous"></script>
    {% endblock %}