{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row justify-content-center">
                {% for post in post_list %}
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card mb-8 w-100">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="btn btn-warning">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.updated_on }}</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% endfor %}

            </div>
            <div id="loader" style="display: none;">
                <p class="text-white">Loading more posts...</p>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script src="{% static 'js/infinite-scroll.js' %}"></script>
{% endblock %}

<!-- index.html content ends here -->
{% endblock %}